.project { padding: 1em; }
.project h2 { padding: 1em; }
.project p {
  padding: .25em;
  line-height: 1.5em;
}

figure { width: min-content; }

.description {
  width: 300px;
  padding: .5em 0 .5em 0;
  text-align: left;
  color: #ccc;
}

.description h2 { padding: .5em 0 .5em 0; }

.summary {
  font-size: 1em;
  margin-bottom: 1em;
}

.category {
  font-size: .8em;
  margin-bottom: 1em;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.links p { color: #ccc; }
.links a { 
  padding: 5px 5px 5px 5px; 
  background: black;
}
.link { 
  background: black; 
  padding: 6px;
  color: white;
}

.link:hover { color: #f4af1b; }
.links a:hover {
  padding: 10px;
}
