.project {
  max-width: 100%;
}
.project h2 {
  padding: 1em;
}
.project p {
  padding: 0.25em;
  line-height: 1.5em;
}

figure {
  width: 100%;
  max-width: 100%;
}

figure img {
  object-fit: cover;
  max-width: 100%;
  object-position: center top;
}

.description {
  width: 300px;
  padding: 0.5em 0 0.5em 0;
  text-align: left;
  color: #ccc;
}

.description h2 {
  padding: 0.5em 0 0.5em 0;
}

.summary {
  font-size: 1em;
  margin-bottom: 1em;
}

.category {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.links p {
  color: #ccc;
}
.links a {
  padding: 5px 5px 5px 5px;
  background: black;
}
.link {
  background: black;
  padding: 6px;
  color: white;
}

.links a:hover {
  border-bottom: 1px solid #edeeb3;
}
