.resume-main {
  background-color: black;
  width: 100%;
  padding: 5%;
}

.resume-section {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  padding: 1em;
  text-align: left;
}

.resume-main h1 {
  font-size: 2.5em;
}

ul {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 0.25em;
  margin-left: 2em;
}

hr {
  width: 100%;
  margin: 1em auto;
  height: 1px;
  background-color: #666;
  opacity: 0.5;
}

.resume-download {
  margin: 1em 0;
}

.resume-download a {
  padding: 0.5em;
}

.resume-download h4:hover {
  color: #edeeb3;
  border-bottom: 1px solid #edeeb3;
}

.resume-download img {
  margin: auto;
  width: 50px;
}

.resume-download img:hover {
  width: 51px;
}

