.resume-main {
  background-color: #151a1e;
  width: 100%;
  padding: 5%;
}

.resume-section {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  padding: 1em;
  text-align: left;
}

ul {
  width: 90%;
  display: inline-block;
  text-align: left;
  margin-top: 0.25em;
  margin-left: 2em;
}

hr {
  width: 100%;
  margin: 1em auto;
  height: 1px;
  background-color: #666;
  opacity: 0.5;
}
