.navbar {
	height: fit-content;
	width: 100%;
  padding: 0.5em;
	display: flex;
	justify-content: flex-end;
	align-items: center;
  background-color: black;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
	list-style: none;
  font-size: 1.25em;
}

a:link, a:visited {
	text-decoration: none;
	color: lightslategray;
	transition: 0.3s all;
}

.nav-link:hover {
	color: #f4af1b;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

/*---------- Media Queries ------- */

@media only screen and (max-width: 800px) {
	.navbar {
		position: relative;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 50px;
		left: -100%;
		transition: 0.5s all;
    padding: 1em;
	}

	.nav-links.active {
		background: black;
		left: 0;
	}

	.nav-icon {
		display: flex;
	}
}
