.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container img {
  margin-top: 1em;
  height: 70vh;
  border-radius:50%;
  object-fit: none;
}

.hero-heading {
  font-size: 1.5em;
  text-align: center;
  margin: 2em;
}

/*--------------- Media Queries -----------*/
/*-----------------------------------------*/
