.contact-container {
  height: 100vh;
  display: inline-block;
  vertical-align: top;
}

.contact-container p {
  padding-bottom: 2rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.github {
  background: black;
}
