.contact-container {
  padding: 1em;
  display: inline-block;
  vertical-align: top;
  font-size: 1.5em;
  max-width: 100%;
  background-color: #151a1e;
}

.contact-container p {
  padding-bottom: 2rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.github {
  background: black;
}
