.header {
  width: 100%;
  padding: 1em 0 0 0;
  margin-bottom: 2em;
}

.header img { 
  width: 100%;
}
  
.header p {
  text-align: right;
  padding-right: 1rem;
  font-size: .25em;
  color: #888;
}

/*========= Picture - Text Section =============*/

.section-1, .section-2, .section-3 {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  gap: 1em;
}

.text { 
  text-align: justify;
  text-indent: 2em;
  flex-basis: 40%;
  padding: 0 .5em;
}

.pic {
  flex-basis: 30%;
  padding: 0;
  margin: 0 .5em;
}

.pic img {
  width: 300px;
  height: 250px;
  object-fit: contain;
  object-position: center top;
}
  .section-3 img { width: 100%; }
  .section-2 img { width: 100%; }
  .section-1 img { width: 100%; }

/*========= Media Queries ===========*/

@media screen and (max-width: 768px) {

  .section-1, .section-2, .section-3 { flex-flow: column; }
  .header img { display: none; }
  .header p { display: none; }
  .section-3 img { width: 100%; }
  .section-2 img { width: 100%; }
  .section-1 img { width: 100%; }

  .text { 
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;
    padding: 1em .5em;
  }

  .pic1 { order: 1; }
  .text { order: 2; }
}
